asttokens==2.4.1
decorator==5.1.1
docstring-to-markdown==0.15
executing==2.0.1
ipdb==0.13.13
ipython==8.22.2
jedi==0.19.1
matplotlib-inline==0.1.6
parso==0.8.3
pexpect==4.9.0
pluggy==1.4.0
prompt-toolkit==3.0.43
ptyprocess==0.7.0
pure-eval==0.2.2
pygame==2.5.2
Pygments==2.17.2
python-lsp-jsonrpc==1.1.2
python-lsp-server==1.10.1
six==1.16.0
stack-data==0.6.3
traitlets==5.14.2
ujson==5.9.0
wcwidth==0.2.13
